{name, "pcache"}.
{description, "An Erlang cache where every stored item is its own process."}.
{homepage, "https://github.com/mattsta/pcache"}.
{url, {git, "https://github.com/mattsta/pcache.git", {branch, "master"}}}.
{authors, ["Matt Stancliff <sysop@mindspring.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
